
main{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    font-family: "Verdana", sans-serif;
}
body{
    display: flex;
    justify-content: auto;
}
.contenedor {
    width: 894px;
    height: 560px;
    position: relative;
    left: 220px;
    top: 20px;
    box-shadow: 0 10px 20px #000;
    overflow: hidden;
    border-radius: 60px;
    background: linear-gradient( #2C3E50 35%, #34495E 80%);
}
#foto {
    display: flex;
    width: 45%;
    height: 40%;
    position: relative;
    top: 15px;
    left: 20px;
    border-radius: 120px;
    box-shadow: 0 10px 20px #34495E;
}
#info{
    position: relative;
    left: 25%;
    top: -60%;
    text-align: center;
    color: #F4F6F7;
    font-size: 20px;
}
#nombre{
    position: relative;
    top: -179px;
    right: 24px;
    font-size: 40px;
}
#InfoPersonal{
    width: 48%;
    position: relative;
    left: 209px;
    top: -209px;
    text-align: justify;
    font-size: 17px;
}
#InfoPersonal2{
    font-size: 0px;
}
#Contacto{
    position: relative;
    left: -4px;
    top: -254px;
    font-weight: bold;
}
#gmail{
    position: relative;
    left: -4px;
    top: -266px;
}
.contacto {
    position: relative;
    top: -590px;
    left: 191px;
    width: 108%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin-right: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}   
#fecha{
    position: absolute;
    top: 0px;
    right: 42px;
    color: #D6DBDF;
}

@media (max-width : 560px) {
    body{
        background:#34495E;
    }
    .contenedor{
        width: auto;
        height: 100vh;
        position: inherit;
        padding-left: 0px;
        padding-top: 0px;
        background: transparent;
        box-shadow: none;
        border-radius: 0%;
    }
    #foto{
        display: flex;
        justify-content: center;
        width: 225px;
        height: 217px;
        position: relative;
        left: 96px;
        top: 14px;
    }
    #info{
        position: relative;
        text-align: center;
        left: auto;
        top: auto;
    }
    #nombre{
        position: relative;
        left: 4px;
        top: 8px;
        font-size: 45px;
        font-weight: bold;
    }
    #Contacto{
        position: relative;
        right: inherit;
        top: -9px;
        font-size: 30px;
    }
    #gmail{
        position: relative;
        right: inherit;
        top: 5px;
        font-size: 32px;
    }
    #InfoPersonal2{
        font-size: 17px;
        position: relative;
        top: -48px;
        text-align: center;
    }
    .contacto{
        position: inherit;
        justify-content: center;
        align-items: center;
        height: 117px;
    }
    .contacto img{
        width: 70px;
        height: 70px;
    }
    #InfoPersonal{
        font-size: 0px;
    }
    #fecha{
        position: relative;
        top: 24px;
        right: -217px;
        color: #D6DBDF;
    }
}